/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

html,
body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* LANDING PAGE STYLES */

#landing-page {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(assets/herobg.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/herobg.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/herobg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landing-page-content {
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.landing-page-content .logo {
    margin-bottom: 40px;
}

.landing-page-content p {
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    margin-bottom: 20px;
}

.landing-page-content h1 {
    font-size: 20px;
    font-weight: 300;
    font-size: 40px;
    color: #ffe600;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.landing-page-content .cta-btn {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ffe60081;
    padding: 10px 40px;
}

.landing-page-content .cta-btn:hover {
    color: #fff;
    border-color: #ffe600;
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.landing-page-content .arrow-down {
    margin-top: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.473);
    font-size: 40px;
}

.landing-page-content .arrow-down:hover {
    color: rgb(255, 255, 255);
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}


/* NAVIGATION STYLES */

nav {
    border-bottom: 1.5px solid #ffe600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 200px;
}

nav .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

nav li {
    list-style-type: none;
}

.item {
    padding: 5px 15px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.item:hover {
    border: 1.5px solid #ffe600;
}

.item a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
}


/* ABOUT SECTION STYLES */

#about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 120px 0;
}

#about-us .about-heading,
.about-subheading {
    text-transform: uppercase;
    display: block;
    text-align: center;
}

#about-us .about-heading {
    font-size: 27px;
}

#about-us .about-subheading {
    font-size: 15px;
    color: #ffe600;
    margin-bottom: 80px;
}

#about-us h2 {
    margin-bottom: 20px;
}

.feats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 100px;
}

.feats p {
    font-size: 15px;
}

.feats h3 {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.feats h3 span {
    font-size: 25px;
    color: #ffe600;
    font-weight: 300;
}

.feature {
    text-align: center;
}

.feature p {
    color: #8e8e8e;
}

.feature h3 {
    margin-bottom: 40px;
}


/* QUOTE STYLES */

.quote-container {
    background-color: #ffe600;
    text-align: center;
    padding: 110px 0;
}

.quote-container blockquote {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 25px;
}

.quote-container .quote-subheading {
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
}


/* PORTFOLIO STYLES */

#portfolio {
    text-align: center;
    padding: 80px 0;
}

.portfolio-header,
.portfolio-subheader {
    text-align: center;
}

.portfolio-header {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 400;
}

.portfolio-subheader {
    text-transform: uppercase;
    font-size: 15px;
    color: #ffe600;
    margin-bottom: 80px;
}

.works-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 150px;
    max-width: 80%;
}

#portfolio .load-more {
    margin-top: 20px;
    text-decoration: none;
    color: #2c2c2c93;
    font-size: 40px;
}

#portfolio .load-more:hover {
    color: #2c2c2c;
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

#portfolio small {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #ffe600;
    font-size: 15px;
    margin-top: 20px;
}


/* CLIENTS SECTION STYLES */

#clients {
    background-color: #424245;
    text-align: center;
    padding: 80px 120px;
}

#clients .clients-heading {
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}

#clients .clients-subheading {
    text-transform: uppercase;
    color: #ffe600;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 80px;
}

#clients .clients-logos {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
}


/* FORM SECTION STYLES */

#form-container {
    text-align: center;
    padding: 80px 150px;
}

#form-container .contact-heading {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

#form-container .contact-subheading {
    text-transform: uppercase;
    font-size: 15px;
    color: #ffe600;
    margin-bottom: 100px;
}

form input[type=text],
input[type=email],
textarea {
    background-color: #ffe600;
    color: #fff;
    border: none;
    padding: 20px;
}

form ::-webkit-input-placeholder {
    color: #fff;
}

form ::-moz-placeholder {
    color: #fff;
}

form :-ms-input-placeholder {
    color: #fff;
}

form ::-ms-input-placeholder {
    color: #fff;
}

form ::placeholder {
    color: #fff;
}

form input[type=submit] {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.849);
    color: #ffe600c0;
    font-weight: 400;
    font-size: 20px;
    border: none;
}

form input[type=submit]:hover {
    background-color: rgb(0, 0, 0);
    color: #ffe600;
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

form {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 50px 20px 50px 20px auto 20px 50px;
    grid-template-rows: 50px 50px auto 50px;
    grid-template-areas: "name email" "subject subject" "message message" "submit submit";
}

form .name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: name;
}

form .email {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: email;
}

form .subject {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: subject;
}

form .message {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: message;
}

form .submit {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: submit;
}


/* FOOTER STYLES */

footer {
    background-color: #131316;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 80px;
    grid-template-rows: 80px;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

footer>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

footer .rights {
    color: #ffe600;
    font-size: 13px;
    font-weight: 400;
}

.social-bar a {
    color: rgba(255, 255, 255, 0.589);
}

.social-bar a:hover {
    color: #fff;
}

.social-bar a:not(:first-of-type) {
    margin-left: 50px;
}